body {
    background: #161414;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#consolebox {
    background: #040405;
    border: 10px solid gray;
    border-top: 30px solid rgb(107, 100, 100);
    border-bottom-color: rgb(107, 100, 100);
    border-radius: .8em;
    height: 550px;
    width: 1000px;
    margin: 30px auto auto auto;
    box-shadow: 0px 0px 0px 2px rgb(243, 228, 228);
}

#close-but, #minimalise-but, #cls-but {
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

#close-but {
    background: red;
    margin-top: -25px;
    margin-left: 20px;
    cursor: pointer;
}

#close-but:hover {
    background: rgba(255, 0, 0, 0.822);
}

#minimalise-but {
    background: orange;
    margin-top: -20px;
    margin-left: 50px;
    cursor: pointer;
}

#minimalise-but:hover {
    background: rgba(255, 166, 0, 0.726);
}

#cls-but {
    background: rgb(10, 189, 10);
    margin-top: -20px;
    margin-left: 80px;
    cursor: pointer;
}

#cls-but:hover {
    background: rgb(5, 172, 5);
}

#textbox {
    height: 500px;
    width: 978px;
    background: #040405;
    padding: 10px;
    margin-top: 7px;
    overflow: auto;
}

#commandline {
    background: black;
    width: 95%;
    height: 23px;
    color: white;
    border-top: 1px solid gray;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin-left: 5%;
}

#enter {
    position: relative;
    top: -26px;
    height: 28px;
    width: 50px;
}

.cprtext {
    color: rgb(52, 204, 52);
}

.vertext {
    color: rgb(255, 217, 0);
}

.errorlog {
    color: red;
}

.commandtext {
    color: rgb(158, 149, 149);
}

.gametxt1 {
    color: orange;
}